{{template "preamble" .}}

{{if .Shell}}
do_shell() {
{{template "shell" .Shell}}
}
run_stage "Shell Configuration" do_shell
{{end}}

{{if .Terminal}}
do_terminal() {
{{template "terminal" .Terminal}}
}
run_stage "Terminal Emulator" do_terminal
{{end}}

{{if .Tmux}}
do_tmux() {
{{template "tmux" .Tmux}}
}
run_stage "tmux" do_tmux
{{end}}

{{template "summary" .}}
