{{template "preamble" .}}

{{if .SSH}}
do_ssh() {
{{template "ssh" .SSH}}
}
run_stage "SSH Keys" do_ssh
{{end}}

{{if .GPG}}
do_gpg() {
{{template "gpg" .GPG}}
}
run_stage "GPG Keys" do_gpg
{{end}}

{{if .EnvFiles}}
do_env_files() {
{{template "env-files" .EnvFiles}}
}
run_stage "Environment Files" do_env_files
{{end}}

{{template "summary" .}}
