{{define "docker"}}
log "Restoring Docker..."
{{end}}

{{define "aws"}}
log "Restoring AWS CLI..."
{{end}}

{{define "kubernetes"}}
log "Restoring Kubernetes..."
{{end}}

{{define "terraform"}}
log "Restoring Terraform..."
{{end}}

{{define "vercel"}}
log "Restoring Vercel..."
{{end}}

{{define "gcp"}}
log "Restoring Google Cloud..."
{{end}}

{{define "azure"}}
log "Restoring Azure..."
{{end}}

{{define "flyio"}}
log "Restoring Fly.io..."
{{end}}

{{define "firebase"}}
log "Restoring Firebase..."
{{end}}

{{define "cloudflare"}}
log "Restoring Cloudflare..."
{{end}}
