{{define "locale"}}
log "Restoring locale & timezone..."
{{end}}

{{define "login-items"}}
log "Restoring login items..."
{{end}}

{{define "hosts-file"}}
log "Restoring /etc/hosts..."
{{end}}

{{define "network"}}
log "Restoring network settings..."
{{end}}
